.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100vw; */
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

.wrapper{
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  @media screen and (max-width: 768px) {
    padding: 0 24px;
  }
}

header {
  width: 100%;
  display: flex;
  justify-content: start;
  padding: 20px 0;
  }

form {
  display: flex;
  flex-direction: column;
  gap: 15px; 
  margin-top: 50px;
  width: 100%;
  max-width: 400px;
}

label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

input[type="text"] {
  padding: 15px;
  border: 1px solid#A7A7A7;
  border-radius: 5px;
  font-size: 16px;
  outline: none; 
}

button, .downloadButton {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  background-color: #22196A; 
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  text-align: center;

  &:hover {
  background-color: #1a1460;
}
}

.downloadButton, .shareButton {
  background-color: #d5d5d5;
  color: rgb(44, 44, 44);

    &:hover{
    background-color: rgb(195, 193, 193);
  }
}

.greetingCard{
  width: 100%;
  max-width: 400px;
}


.greetinCardWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}


